<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>servlet_test</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Id_admin</display-name>
    <servlet-name>Id_admin</servlet-name>
    <servlet-class>pkg01.Id_admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Id_admin</servlet-name>
    <url-pattern>/id_admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Math1</display-name>
    <servlet-name>Math1</servlet-name>
    <servlet-class>pkg02.Math1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Math1</servlet-name>
    <url-pattern>/math1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Daytime</display-name>
    <servlet-name>Daytime</servlet-name>
    <servlet-class>pkg03.Daytime</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Daytime</servlet-name>
    <url-pattern>/daytime</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Filemake</display-name>
    <servlet-name>Filemake</servlet-name>
    <servlet-class>pkg04.Filemake</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Filemake</servlet-name>
    <url-pattern>/filemake</url-pattern>
  </servlet-mapping>
</web-app>